CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
galois_test
rs
test1
test2
matrix_test
build
rs_test
sample-input.txt.0 sample-input.txt.1 sample-input.txt.2 sample-input.txt.3 sample-input.txt.4 sample-input.txt.5
